@use "../utils/variables";

footer {
  padding: 30px;
  line-height: 2;
  color: white;
  font-weight: 500;
  background-color: variables.$background-footer;
  svg {
    width: 125px;
    height: auto;
    path {
      fill: white;
    }
  }

}
