@use "../utils/variables";

footer {
  padding: 20px 30px;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  background-color: variables.$background-footer;
  svg {
    width: 100px;
    height: auto;
    path {
      fill: white;
    }
  }
  ul {
    li {
      height: 31px;
    }
  }
}
@media screen and (min-width: 700px) {
  footer {
    text-align: center;
  }
}