@use "../utils/variables";

header {
  position: relative;
  height: 64px;
  background-color: variables.$background-header;

  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  i {
    position: absolute;
    font-size: 20px;
    left: 15px;
    bottom: 17px;
  }
}
