body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

header {
  position: relative;
  height: 64px;
  background-color: #F6F6F6;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header i {
  position: absolute;
  font-size: 20px;
  left: 15px;
  bottom: 17px;
}

footer {
  padding: 20px 30px;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  background-color: #353535;
}
@media screen and (min-width: 800px) {
  footer {
    text-align: center;
  }
}
footer svg {
  width: 100px;
  height: auto;
}
footer svg path {
  fill: white;
}
footer ul li {
  height: 31px;
}

#presentation {
  text-align: center;
}
#presentation .location {
  background-color: #EAEAEA;
  padding: 15px 0;
  font-weight: 300;
  box-shadow: 0 5px 5px #cccccc inset;
}
#presentation .intro {
  padding: 15px 0 60px 0;
  background-color: #F6F6F6;
}
#presentation .intro div, #presentation .intro a {
  width: 200px;
  font-weight: 500;
  margin: auto;
  padding: 20px;
  color: white;
  border-radius: 30px;
}

#operation {
  background-color: white;
  padding-bottom: 40px;
}
#operation .operation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  #operation .operation__list {
    flex-direction: row;
    justify-content: center;
  }
}
#operation .operation__list .list-items {
  position: relative;
  margin-bottom: 20px;
  width: 280px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bababa;
}
@media (min-width: 800px) {
  #operation .operation__list .list-items {
    margin: 20px;
  }
}
#operation .operation__list .list-items span {
  position: absolute;
  right: 95%;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
}
#operation .operation__list .list-items p {
  font-weight: 500;
}
#operation .operation__list .list-items i {
  padding: 0 25px;
  font-size: 16px;
  color: grey;
}
#operation .operation__list .list-items:nth-child(0n+3) {
  background-color: #F5EDFF;
}
#operation .operation__list .list-items:nth-child(0n+3) i {
  color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
#restaurants .restaurants-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurants .restaurants-card .restaurants-card_wrapper {
  max-width: 600px;
  width: 90%;
  margin: 8px 0;
}
#restaurants .restaurants-card .restaurants-card_wrapper .card {
  position: relative;
  height: 215px;
  background-color: white;
  text-decoration: none;
  box-sizing: content-box;
  box-shadow: 5px 5px 10px #bababa;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .new-restaurant {
  position: absolute;
  font-weight: 500;
  z-index: 2;
  padding: 7px 15px;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  background: #99E2D0;
  color: #278870;
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .card__main {
  width: 100%;
  height: calc(100% - 70px);
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .card__main img {
  border-top-left-radius: 16px 16px;
  border-top-right-radius: 16px 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .card__footer {
  height: 70px;
  display: flex;
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .card__footer .card__footer_text {
  padding-top: 10px;
  line-height: 25px;
  padding-left: 15px;
  width: calc(100% - 60px);
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .card__footer .card__footer_text p, #restaurants .restaurants-card .restaurants-card_wrapper .card .card__footer .card__footer_text h3 {
  margin: 0;
}
#restaurants .restaurants-card .restaurants-card_wrapper .card .card__footer .card__footer_text p {
  font-weight: 300;
}

.photo {
  width: 100%;
  height: 300px;
}
.photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes dish-item {
  0% {
    opacity: 0;
    top: 120px;
  }
  25% {
    opacity: 0;
    top: 120px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes rotate-check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__main .dishes_part {
  padding: 20px;
  width: 90%;
  max-width: 600px;
  position: relative;
}
.menu__main .dishes_part:nth-child(1) {
  animation-name: dish-item;
  animation-duration: 3s;
  animation-delay: 0s;
}
.menu__main .dishes_part:nth-child(2) {
  animation-name: dish-item;
  animation-duration: 3s;
  animation-delay: 0.2s;
}
.menu__main .dishes_part:nth-child(3) {
  animation-name: dish-item;
  animation-duration: 3s;
  animation-delay: 0.4s;
}
.menu__main .dish {
  display: flex;
  height: 70px;
  background: white;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 5px 5px 10px #e8e8e8;
}
.menu__main .dish div {
  padding: 10px;
  width: calc(100% - 40px);
  line-height: 1.5;
  overflow: hidden;
  cursor: pointer;
}
.menu__main .dish div h4, .menu__main .dish div p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__main .dish div p {
  margin: 0;
  font-weight: 300;
}
.menu__main .dish .price {
  display: flex;
  flex-direction: column-reverse;
  width: 40px;
}
.menu__main .dish .price p {
  font-weight: 500;
}
.menu__main .dish .select {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0;
  padding: 0;
  transition: 1s;
}
.menu__main .dish .select i {
  font-size: 22px;
  margin: 24px 22px;
  height: 22px;
  width: 22px;
  font-weight: 900;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__main .dish:hover .select {
  width: 80px;
}
.menu__main .dish:hover .select i {
  animation-name: rotate-check;
  animation-duration: 500ms;
  animation-delay: 300ms;
}

main .menu {
  margin-top: -25px;
  position: relative;
  background: #F6F6F6;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
main .menu .menu__header {
  display: flex;
}
main .menu .menu__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  width: 28px;
  height: 28px;
}

.favorite {
  width: 60px;
  line-height: 70px;
}
.favorite i {
  font-size: 22px;
}
.favorite i:hover {
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: like;
  animation-duration: 2s;
}
.favorite i:hover::before {
  margin-left: 1px;
  -webkit-text-stroke: 1px transparent;
}
.favorite .favorite--home-page::before {
  -webkit-text-stroke: 1px white;
}
.favorite .favorite--menu::before {
  -webkit-text-stroke: 1px #F6F6F6;
}

@keyframes like {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.home-page-titles {
  padding: 50px 15px 10px 15px;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 800px) {
  .home-page-titles {
    text-align: center;
  }
}

.menu__header-title {
  width: calc(100% - 60px);
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding-left: 30px;
  line-height: 30px;
}
@media (min-width: 800px) {
  .menu__header-title {
    text-align: center;
    font-size: 30px;
  }
}

.menu__main-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 19px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 50px;
}

.menu__dish-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

button.order, div.explore {
  width: 200px;
  font-weight: 500;
  margin: 30px;
  padding: 20px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  transition: all 1s;
}
button.order:hover, div.explore:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 10px #bababa;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes round {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(6);
  }
}
.loading {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  color: #99E2D0;
  z-index: 999;
  animation: loader;
  animation-duration: 3s;
  top: 0;
  left: 0;
  padding: 50vh 50vw;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.loading .round {
  width: 1vh;
  height: 1vh;
  background-color: #99E2D0;
  border-radius: 100%;
  animation: round 500ms linear infinite;
}

/*# sourceMappingURL=style.css.map */
