@use "../utils/variables";

button.order, div.explore{
  width: 200px;
  font-weight: 500;
  margin: 30px;
  padding: 20px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient( variables.$secondary, variables.$primary);
  transition: all 1s;
  &:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px #bababa;
  }
}
