@use "../utils/variables";
i{
  width: 28px;
  height: 28px;
}

.favorite {
  width: 60px;
  line-height: 70px;
  i {
    font-size: 22px;
    &:hover {
      font-weight: 900;
      background: -webkit-gradient(linear, left top, left bottom, from(variables.$primary), to(variables.$secondary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: like;
      animation-duration: 2s;
      &::before {
        margin-left: 1px;
        -webkit-text-stroke: 1px transparent;
      }
    }
  }
  .favorite--home-page::before {
    -webkit-text-stroke: 1px white;
  }
  .favorite--menu::before {
    -webkit-text-stroke: 1px variables.$background-header;
  }
}

@keyframes like {

  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}