@use "../utils/variables";

.home-page-principal-title {
  padding: 35px 40px 10px 40px;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  @media (min-width: 800px) {
    text-align: center;
  }
}
.home-page-titles {
  padding: 35px 0 25px 0;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  @media (min-width: 800px) {
    text-align: center;
  }
}

.menu__header-title {
  width: calc(100% - 60px);
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  padding-left: 30px;
  line-height: 30px;
  @media (min-width: 800px) {
    text-align: center;
    font-size: 30px;
  }
}

.menu__main-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 19px;
  border-bottom: 3px solid variables.$ternary;
  padding-bottom: 5px;
  width: 50px;
}

.menu__dish-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}