@use "../utils/variables";
@use "../components/photo";
@use "../components/dishes";


main {
  .menu {
    margin-top: -25px;
    position: relative;
    background: variables.$background-header;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    .menu__header {
      display: flex;
    }

    .menu__main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}




