@use "../components/photo";
@use "../utils/variables";

.menu {
  background: variables.$background-header;
  .menu-header {
    .menu-title{

      display: flex;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      h2 {
        width: calc(100% - 60px);
        font-family: 'Shrikhand', cursive;
        font-weight: 500;
        padding-left: 30px;
      }
    }
  }

}



