@use "../utils/variables";


#presentation {
  text-align: center;
  .location {
    background-color: #EAEAEA;
    padding: 15px 0;
    font-weight: 300;
    box-shadow: 0 5px 5px #cccccc inset;
  }
  .intro {
    padding: 15px 0 60px 0;
    background-color: variables.$background-header;
     div, a {
        width: 200px;
        font-weight: 500;
        margin: auto;
        padding: 20px;
        color: white;
        border-radius: 30px;
        background: linear-gradient( variables.$secondary, variables.$primary);
      }
  }
}

#operation {
  background-color: white;
  padding-bottom: 40px;
  .operation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .list-items {
      position: relative;
      margin-bottom: 20px;
      width: 280px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      text-align: center;
      background-color: variables.$background-header;
      border-radius: 20px;
      box-shadow: 5px 5px 10px #bababa;
      span {
        position: absolute;
        right: 95%;
        background-color: variables.$primary;
        color: white;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 25px;
      }
      p{
        font-weight: 500;
      }
      i{
        padding: 0 25px;
        font-size: 16px;
        color: grey;
      }
      &:nth-child(0n+3) {
        background-color: #F5EDFF;
        i {
          color: variables.$primary;
        }
      }
    }
  }
}

#restaurants {
  background-color: variables.$background-header;
  padding-bottom: 50px;
  .restaurants-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .restaurants-card_wrapper {
      max-width: 600px;
      width: 90%;
      margin: 8px 0;
      .card{
        position: relative;
        height: 215px;
        background-color: white;
        text-decoration: none;
        box-sizing: content-box;
        box-shadow: 5px 5px 10px #bababa;
        border-radius: 15px;
        overflow:hidden;
        display: flex;
        flex-direction: column;
        .new-restaurant {
          position: absolute;
          font-weight: 500;
          z-index: 2;
          padding: 7px 15px;
          top: 10px;
          right: 10px;
          border-radius: 5px;
          background: variables.$ternary;
          color: darken(variables.$ternary, 40%);
        }
        .card__main {
          width: 100%;
          height: calc(100% - 70px);
          img {
            border-top-left-radius: 16px 16px;
            border-top-right-radius: 16px 16px;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .card__footer {
          height: 70px;
          display: flex;
          .card__footer_text {
            padding-top: 10px;
            line-height: 25px;
            padding-left: 15px;
            width: calc(100% - 60px);
            p, h3 {
              margin: 0;
            }
            p{
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
