$primary: #9356DC;
$secondary: #FF79DA;
$ternary: #99E2D0;
$background-footer: #353535;
$background-header: #F6F6F6;
$mix: linear-gradient($secondary, $primary);

$text: 'Roboto', sans-serif;
$title: 'Shrikhand', cursive;